openapi: 3.0.0
info:
  title: "Softwaretechnik Campus Minden - Event System Microservices API"
  description: "Erweiterte API-Dokumentation basierend auf Microservice-Architektur und User Stories (Notizen, Umfragen, Finanzen, Dienstleister, etc.)"
  version: "2.0.0"

servers:
  - url: http://api.event-system.de/v1
    description: Haupt-API Gateway

tags:
  - name: Kundenverwaltung
    description: User Accounts, Registrierung, Login und Profileinstellungen
  - name: Eventverwaltung
    description: Events erstellen, suchen, filtern und Tickets
  - name: Gruppenverwaltung
    description: Gruppen, Mitglieder, Matchmaking und Codes
  - name: Notizen & Kommunikation
    description: Notizen, Freitext, Termine (Sync), Chat
  - name: Umfragen
    description: Dynamische Umfragen und Abstimmungen
  - name: Aufgaben
    description: Aufgaben, Zeitpläne und Zuweisungen
  - name: Finanzverwaltung (Gruppe)
    description: Ausgaben, Einzahlungen, Kassensturz und Rückerstattungen
  - name: Dienstleister & Anfragen
    description: Anfrage, Angebote, Konvertierung und Bewertungen
  - name: Materialverwaltung
    description: Equipment, Kategorien, Buchungen und Amortisation
  - name: Personalverwaltung
    description: Mitarbeiter, Zuweisungen und Arbeitspläne
  - name: Rechnungsverwaltung
    description: Rechnungen, Mahnungen und Zahlungsstatus

paths:
  # --- Kundenverwaltung ---
  /auth/register:
    post:
      tags: [Kundenverwaltung]
      summary: "Konto erstellen"
      description: "Registrierung inkl. Rolle (Privat/Institution/Kommerziell), Telefonnummer (2FA) und bevorzugter Datenkommunikation."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, role, phone, first_name, last_name, username]
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  enum: [privat, institution, Firma, kommerziell]
                subscription_plan:
                  type: string
                  enum: [free, premium]
                payment_method:
                  type: string
                  description: "Zahlungsart, erforderlich wenn subscription_plan=premium"
                phone:
                  type: string
                preferred_communication:
                  type: string
                  enum: [email, sms, whatsapp]
                privacy_policy_accepted:
                  type: boolean
                  description: "Zustimmung zu den Datenschutzrichtlinien erforderlich"
      responses:
        "201":
          description: "Konto erfolgreich erstellt"

  /auth/login:
    post:
      tags: [Kundenverwaltung]
      summary: "Anmelden"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: "Erfolgreicher Login, JWT Token zurückgegeben"

  /auth/forgot-password:
    post:
      tags: [Kundenverwaltung]
      summary: "Passwort zurücksetzen (E-Mail anfordern)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
      responses:
        "200":
          description: "E-Mail mit Reset-Link gesendet"

  /auth/reset-password:
    post:
      tags: [Kundenverwaltung]
      summary: "Neues Passwort setzen"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token:
                  type: string
                new_password:
                  type: string
      responses:
        "200":
          description: "Passwort erfolgreich zurückgesetzt"

  /users/me:
    get:
      tags: [Kundenverwaltung]
      summary: "Eigenes Profil abrufen"
      responses:
        "200":
          description: "Profildaten"
    put:
      tags: [Kundenverwaltung]
      summary: "Profildaten & Präferenzen aktualisieren"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                language:
                  type: string
                preferred_communication:
                  type: string
                  enum: [email, sms, whatsapp]
      responses:
        "200":
          description: "Aktualisiert"
    delete:
      tags: [Kundenverwaltung]
      summary: "Konto löschen"
      description: "Löscht das Konto und entfernt alle persönlichen Zuordnungen."
      responses:
        "204":
          description: "Gelöscht"

  /users/me/events:
    get:
      tags: [Kundenverwaltung]
      summary: "Meine Eventliste anzeigen (Teilnehmer/Organisator/Interessiert)"
      description: "Liste der Events, nach Merkmalen sortier- und filterbar."
      parameters:
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [date, is_public, participants, organizer]
        - name: status
          in: query
          schema:
            type: string
            enum: [bezahlt, unbezahlt]
          description: "Filter nach Bezahlstatus"
        - name: role
          in: query
          schema:
            type: string
            enum: [organizer, participant]
          description: "Filter nach eigener Rolle im Event"
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
        - name: radius
          in: query
          schema:
            type: integer
          description: "Suchradius in Kilometern"
      responses:
        "200":
          description: "Persönliche Eventliste"

  /users/me/subscription:
    post:
      tags: [Kundenverwaltung]
      summary: "Premium Abo abschließen / Zahlungsart angeben"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method:
                  type: string
                  enum: [paypal, credit_card, sepa]
      responses:
        "200":
          description: "Abo erfolgreich abgeschlossen"
    delete:
      tags: [Kundenverwaltung]
      summary: "Premium Abo kündigen"
      responses:
        "200":
          description: "Abo erfolgreich gekündigt"

  # --- Eventverwaltung ---
  /events:
    get:
      tags: [Eventverwaltung]
      summary: "Events suchen und filtern"
      description: "Filtern nach Datum, Veranstalter, Radius, Privat/Öffentlich."
      parameters:
        - name: radius
          in: query
          schema:
            type: integer
          description: "Suchradius in Kilometern"
        - name: organizerId
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Liste von Events"
    post:
      tags: [Eventverwaltung]
      summary: "Event erstellen"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, start_date, location]
              properties:
                name:
                  type: string
                start_date:
                  type: string
                  format: date-time
                location:
                  type: string
                is_public:
                  type: boolean
                min_participants:
                  type: integer
                  description: "Mindestanzahl an Teilnehmern für das Event"
                min_budget:
                  type: number
                  description: "Mindest-Geldsumme für das Event"
      responses:
        "201":
          description: "Event erstellt"

  /events/{eventId}:
    get:
      tags: [Eventverwaltung]
      summary: "Details eines Events / Event Homepage"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Event Details inkl. Finanzstatus und QR Code URL"
    put:
      tags: [Eventverwaltung]
      summary: "Event bearbeiten"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                location:
                  type: string
      responses:
        "200":
          description: "Aktualisiert"
    delete:
      tags: [Eventverwaltung]
      summary: "Event löschen / archivieren"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: "Gelöscht/Archiviert"

  /events/{eventId}/interested:
    post:
      tags: [Eventverwaltung]
      summary: "Event zur eigenen Beobachtungsliste hinzufügen"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Zur Liste hinzugefügt"

  /events/{eventId}/comments:
    get:
      tags: [Eventverwaltung]
      summary: "Event kommentieren und bewerten (Medien abrufen)"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste an Videos, Bildern und Kommentaren"
    post:
      tags: [Eventverwaltung]
      summary: "Kommentare, Videos und Bilder für ein Event hochladen"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                comment:
                  type: string
                file:
                  type: string
                  format: binary
                  description: "Optionales Bild oder Video"
      responses:
        "201":
          description: "Medium/Kommentar hochgeladen"

  /events/{eventId}/resources:
    get:
      tags: [Eventverwaltung]
      summary: "Gesamtübersicht gebuchter Ressourcen (Personal & Material)"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste aller zugewiesenen Mitarbeiter & gebuchten Materialien"

  /events/{eventId}/ticket-types:
    post:
      tags: [Eventverwaltung]
      summary: "Ticket-Typ erstellen (Veranstalter)"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price, quantity]
              properties:
                name:
                  type: string
                price:
                  type: number
                quantity:
                  type: integer
      responses:
        "201":
          description: "Ticket-Typ erstellt"

  /events/{eventId}/tickets:
    post:
      tags: [Eventverwaltung]
      summary: "Ticket kaufen (Ticketing Integration)"
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticket_type:
                  type: string
                quantity:
                  type: integer
      responses:
        "201":
          description: "Ticket generiert (PDF/QR Code)"

  # --- Gruppenverwaltung ---
  /groups:
    get:
      tags: [Gruppenverwaltung]
      summary: "Meine Gruppen anzeigen (sortierbar)"
      description: "Gibt alle Gruppen zurück, denen der authentifizierte Benutzer angehört. Dient als Übersicht, um anschließend Details abzurufen."
      parameters:
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [name, created_at, role]
      responses:
        "200":
          description: "Liste der Gruppen"
    post:
      tags: [Gruppenverwaltung]
      summary: "Neue Gruppe erstellen"
      description: "Kann einen optionalen Zeitrahmen für auto-löschen/archivieren beinhalten."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                valid_until:
                  type: string
                  format: date-time
                min_contribution_per_member:
                  type: number
                  description: "Mindest-Geldbetrag eines Gruppenmitglieds"
                bank_account_iban:
                  type: string
                  description: "Kontonummer des Gruppenleiters für Überweisungen"
      responses:
        "201":
          description: "Gruppe erstellt inkl. Beitritts-Code"

  /groups/{groupId}:
    get:
      tags: [Gruppenverwaltung]
      summary: "Gruppendetails"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Gruppendaten"
    put:
      tags: [Gruppenverwaltung]
      summary: "Gruppe verwalten (Admin)"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: "Gespeichert"
    delete:
      tags: [Gruppenverwaltung]
      summary: "Gruppe löschen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: "Gelöscht"

  /groups/join:
    post:
      tags: [Gruppenverwaltung]
      summary: "Gruppe per Beitritts-Code beitreten"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [join_code]
              properties:
                join_code:
                  type: string
      responses:
        "200":
          description: "Erfolgreich beigetreten"

  /groups/{groupId}/leave:
    post:
      tags: [Gruppenverwaltung]
      summary: "Gruppe verlassen"
      description: "Ein POST-Request wird hier verwendet anstelle von DELETE /members/{id}, da das Verlassen eine komplexe Transaktion darstellt. Optionale Parameter wie der Grund oder die Zuweisung eines neuen Admins (falls der Gruppenleiter austritt) können im RequestBody übergeben werden. Das System bereinigt danach automatisch Einzahlungen und Aufgaben."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: "Optionaler Grund für das Verlassen"
                new_admin_id:
                  type: integer
                  description: "Falls der Leiter die Gruppe verlässt, muss ein neuer Admin ernannt werden."
      responses:
        "200":
          description: "Verlassen, Daten/Einzahlungen bereinigt"

  /groups/{groupId}/members:
    get:
      tags: [Gruppenverwaltung]
      summary: "Mitgliederliste anzeigen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste der Mitglieder inkl. Rollen"

  /groups/{groupId}/members/{userId}/role:
    put:
      tags: [Gruppenverwaltung]
      summary: "Rolle/Rechte zuweisen (Admin)"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [admin, read_only, member]
      responses:
        "200":
          description: "Rolle aktualisiert"

  /groups/{groupId}/members/{userId}:
    delete:
      tags: [Gruppenverwaltung]
      summary: "Mitglied entfernen / sperren (Admin)"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: userId
          in: path
          required: true
          schema:
            type: integer
        - name: block
          in: query
          schema:
            type: boolean
          description: "Falls true, wird der Nutzer für diese Gruppe komplett gesperrt."
      responses:
        "204":
          description: "Entfernt"

  /groups/{groupId}/matchmaking:
    get:
      tags: [Gruppenverwaltung]
      summary: "Matchmaking - Andere suchende Personen finden"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste potenzieller Matches"
    put:
      tags: [Gruppenverwaltung]
      summary: "Eigenen Matchmaking-Status setzen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_searching]
              properties:
                is_searching:
                  type: boolean
                  description: "Als 'Suche noch Personen' markieren."
      responses:
        "200":
          description: "Status aktualisiert"

  # --- Notizen & Kommunikation ---
  /groups/{groupId}/messages:
    get:
      tags: [Notizen & Kommunikation]
      summary: "Chat-Nachrichten abrufen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste der Chat-Nachrichten"
    post:
      tags: [Notizen & Kommunikation]
      summary: "Nachricht senden"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
      responses:
        "201":
          description: "Nachricht gesendet"

  /groups/{groupId}/notes:
    get:
      tags: [Notizen & Kommunikation]
      summary: "Notizen abrufen"
      description: "Sortiert nach Erstellungsdatum (neueste oben). Filterbar nach Typ/Kategorie."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: category
          in: query
          schema:
            type: string
          description: "Zum Filtern der Notizen, z.B. nach 'Termin' oder 'Allgemein'"
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [date, name]
          description: "Sortieren nach Datum oder Name"
      responses:
        "200":
          description: "Liste von Notizen (farblich markiert je nach Typ)"
    post:
      tags: [Notizen & Kommunikation]
      summary: "Notiz (Anmerkung/Termin) erstellen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, note_type]
              properties:
                text:
                  type: string
                note_type:
                  type: string
                  enum: [anmerkung, termin, info]
                color:
                  type: string
                date:
                  type: string
                  format: date-time
                location:
                  type: string
                  description: "Ort des Termins"
                cost:
                  type: number
                  description: "Kosten für den Termin"
                sync_to_calendar:
                  type: boolean
                  description: "Termin in gekoppelten Kalender eintragen"
                transport_info:
                  type: string
                  description: "Zusatzinformationen bei Terminen (z.B. Gleis, Zugnummer)"
      responses:
        "201":
          description: "Erstellt (Trigger für Google Calendar Sync bei Terminen)"

  /groups/{groupId}/notes/{noteId}:
    put:
      tags: [Notizen & Kommunikation]
      summary: "Notiz ändern"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: noteId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                date:
                  type: string
                  format: date-time
      responses:
        "200":
          description: "Geändert"
    delete:
      tags: [Notizen & Kommunikation]
      summary: "Notiz löschen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: noteId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: "Gelöscht"

  # --- Umfragen ---
  /groups/{groupId}/polls:
    get:
      tags: [Umfragen]
      summary: "Umfragen abrufen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste an Umfragen und Ergebnissen"
    post:
      tags: [Umfragen]
      summary: "Umfrage erstellen"
      description: "Dynamische Anzahl an Antwortmöglichkeiten. Option für Mehrfachauswahl."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question, options]
              properties:
                question:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                allow_multiple:
                  type: boolean
                  default: false
      responses:
        "201":
          description: "Erstellt"

  /groups/{groupId}/polls/{pollId}/vote:
    post:
      tags: [Umfragen]
      summary: "An Umfrage teilnehmen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: pollId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [selected_options]
              properties:
                selected_options:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: "Abgestimmt"

  # --- Aufgaben ---
  /groups/{groupId}/tasks/consent:
    put:
      tags: [Aufgaben]
      summary: "Zustimmung für Aufgabenzuweisung umschalten"
      description: "Nur Mitglieder, die einverstanden sind, können Aufgaben erhalten."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [consent_given]
              properties:
                consent_given:
                  type: boolean
      responses:
        "200":
          description: "Zustimmung aktualisiert"

  /groups/{groupId}/tasks:
    get:
      tags: [Aufgaben]
      summary: "Zeitpläne und Aufgaben abrufen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste der Aufgaben"
    post:
      tags: [Aufgaben]
      summary: "Aufgabe erstellen und zuweisen"
      description: "Zuweisung an bereite Mitglieder. Automatische Erinnerung bei anstehender Deadline."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                description:
                  type: string
                assignee_id:
                  type: integer
                deadline:
                  type: string
                  format: date-time
                start_time:
                  type: string
                  format: date-time
                  description: "Startzeit für Zeitpläne"
                end_time:
                  type: string
                  format: date-time
                  description: "Endzeit für Zeitpläne"
      responses:
        "201":
          description: "Erstellt"

  /groups/{groupId}/tasks/{taskId}:
    put:
      tags: [Aufgaben]
      summary: "Aufgabe bearbeiten"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                assignee_id:
                  type: integer
                deadline:
                  type: string
                  format: date-time
                start_time:
                  type: string
                  format: date-time
                  description: "Startzeit für Zeitpläne"
                end_time:
                  type: string
                  format: date-time
                  description: "Endzeit für Zeitpläne"
      responses:
        "200":
          description: "Aufgabe aktualisiert"
    delete:
      tags: [Aufgaben]
      summary: "Aufgabe löschen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: "Aufgabe gelöscht"

  /groups/{groupId}/tasks/{taskId}/complete:
    put:
      tags: [Aufgaben]
      summary: "Aufgabe als fertig markieren"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Erledigt"

  # --- Finanzverwaltung (Gruppe) ---
  /groups/{groupId}/finances/expenses:
    get:
      tags: [Finanzverwaltung (Gruppe)]
      summary: "Ausgabenliste anzeigen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Wer hat wie viel für was bezahlt"
    post:
      tags: [Finanzverwaltung (Gruppe)]
      summary: "Ausgabe eintragen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [description, amount, payer_id]
              properties:
                description:
                  type: string
                item_name:
                  type: string
                  description: "Was genau bezahlt/mitgebracht wurde"
                amount:
                  type: number
                payer_id:
                  type: integer
      responses:
        "201":
          description: "Eingetragen"

  /groups/{groupId}/finances/payments:
    get:
      tags: [Finanzverwaltung (Gruppe)]
      summary: "Alle Einzahlungen anzeigen"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste der getätigten Einzahlungen"
    post:
      tags: [Finanzverwaltung (Gruppe)]
      summary: "Geldsumme einzahlen / Überweisen"
      description: "Bei Mindestbetrag wird dieser geprüft. Löst Dankesnachricht aus."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, method]
              properties:
                amount:
                  type: number
                method:
                  type: string
                  description: "Zahlungsmethode (Kreditkarte, PayPal, Überweisung etc.)"
      responses:
        "200":
          description: "Einzahlung registriert"

  /groups/{groupId}/finances/balance:
    get:
      tags: [Finanzverwaltung (Gruppe)]
      summary: "Kassensturz"
      description: "Gesamteinnahmen, Gesamtausgaben, Saldo pro Person."
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Zusammenfassung Finance"

  /groups/{groupId}/finances/refund:
    post:
      tags: [Finanzverwaltung (Gruppe)]
      summary: "Rückzahlung veranlassen (Organisator)"
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, amount]
              properties:
                user_id:
                  type: integer
                amount:
                  type: number
      responses:
        "200":
          description: "Rückzahlung initiiert"

  # --- Dienstleister & Anfragen ---
  /providers/{providerId}/customers:
    get:
      tags: [Dienstleister & Anfragen]
      summary: "Kunden des Dienstleisters einsehen"
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste der Kunden (Veranstalter)"

  /providers/{providerId}/requests:
    post:
      tags: [Dienstleister & Anfragen]
      summary: "Veranstaltungsanfrage senden (Kunde)"
      description: "Ort, Zeit, Budget, Spielraum."
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [location, start_date, end_date, budget]
              properties:
                location:
                  type: string
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type: string
                  format: date-time
                budget:
                  type: number
                budget_flexibility:
                  type: number
                  description: "Budget Spielraum in Prozent oder absolut"
                other_organizers:
                  type: array
                  items:
                    type: string
                  description: "Andere beteiligte Veranstalter"
      responses:
        "201":
          description: "Anfrage gesendet"

  /providers/offers:
    post:
      tags: [Dienstleister & Anfragen]
      summary: "Angebot generieren"
      description: "Wird automatisch per E-Mail versendet."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [request_id, total_price, material_list]
              properties:
                request_id:
                  type: integer
                total_price:
                  type: number
                max_budget:
                  type: number
                  description: "Maximalbudget des Events"
                wage_costs:
                  type: number
                travel_costs:
                  type: number
                material_costs:
                  type: number
                admin_costs:
                  type: number
                gross_price:
                  type: number
                net_price:
                  type: number
                discount:
                  type: number
                material_list:
                  type: array
                  items:
                    type: integer
      responses:
        "201":
          description: "Angebot generiert"

  /providers/offers/{offerId}/convert:
    post:
      tags: [Dienstleister & Anfragen]
      summary: "Veranstaltungsanfrage zu Event konvertieren"
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "In Event umgewandelt"

  /providers/{providerId}/reviews:
    get:
      tags: [Dienstleister & Anfragen]
      summary: "Bewertungen des Dienstleisters einsehen"
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Sterne & Kommentare"
    post:
      tags: [Dienstleister & Anfragen]
      summary: "Dienstleister bewerten (Veranstalter)"
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        "201":
          description: "Bewertung abgegeben"

  # --- Materialverwaltung ---
  /materials:
    get:
      tags: [Materialverwaltung]
      summary: "Material filtern / suchen"
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: available_start
          in: query
          schema:
            type: string
            format: date-time
        - name: available_end
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: "Materialliste"
    post:
      tags: [Materialverwaltung]
      summary: "Material hinzufügen"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, category, on_day_price]
              properties:
                name:
                  type: string
                category:
                  type: string
                on_day_price:
                  type: number
                maintenance_cycle:
                  type: integer
                  description: "Wartungszyklus in Tagen"
                maintenance_reminder_days:
                  type: integer
                  description: "Tage vor Wartung für Erinnerung"
                storage_location:
                  type: string
                purchase_price:
                  type: number
      responses:
        "201":
          description: "Hinzugefügt"

  /materials/{materialId}:
    put:
      tags: [Materialverwaltung]
      summary: "Material bearbeiten"
      parameters:
        - name: materialId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                category:
                  type: string
                on_day_price:
                  type: number
                maintenance_cycle:
                  type: integer
                maintenance_reminder_days:
                  type: integer
                  description: "Tage vor Wartung für Erinnerung"
                storage_location:
                  type: string
                purchase_price:
                  type: number
      responses:
        "200":
          description: "Material aktualisiert"
    delete:
      tags: [Materialverwaltung]
      summary: "Material löschen"
      parameters:
        - name: materialId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: "Material gelöscht"

  /materials/categories:
    get:
      tags: [Materialverwaltung]
      summary: "Material Kategorien anzeigen"
      responses:
        "200":
          description: "Liste der Kategorien"
    post:
      tags: [Materialverwaltung]
      summary: "Material Kategorie hinzufügen"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        "201":
          description: "Erstellt"

  /materials/categories/{categoryId}:
    delete:
      tags: [Materialverwaltung]
      summary: "Material Kategorie löschen"
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Gelöscht (sofern leer)"
    put:
      tags: [Materialverwaltung]
      summary: "Material Kategorie bearbeiten"
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        "200":
          description: "Aktualisiert"

  /materials/{materialId}/book:
    post:
      tags: [Materialverwaltung]
      summary: "Material buchen"
      description: "On-Days und Off-Days (rabattiert) definieren. Beachtet Verfügbarkeit und Verleih-Historie."
      parameters:
        - name: materialId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_id, on_days, off_days]
              properties:
                event_id:
                  type: integer
                on_days:
                  type: integer
                off_days:
                  type: integer
      responses:
        "200":
          description: "Gebucht"

  /materials/{materialId}/history:
    get:
      tags: [Materialverwaltung]
      summary: "Verleih-Historie anzeigen"
      parameters:
        - name: materialId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Historie (wann, wo, bei wem)"

  /materials/{materialId}/amortization:
    get:
      tags: [Materialverwaltung]
      summary: "Amortisierung anzeigen / Fortschritt"
      description: "Berechnet aus Einkaufspreis, Anzahl der Verleihungen und Preis."
      parameters:
        - name: materialId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Status (amortisiert: true/false) und Prozent des Fortschritts"

  # --- Personalverwaltung ---
  /employees:
    get:
      tags: [Personalverwaltung]
      summary: "Mitarbeiter filtern / suchen"
      parameters:
        - name: qualification
          in: query
          schema:
            type: string
        - name: driver_license
          in: query
          schema:
            type: string
        - name: available_start
          in: query
          schema:
            type: string
            format: date-time
        - name: available_end
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: "Mitarbeiterliste"
    post:
      tags: [Personalverwaltung]
      summary: "Mitarbeiter hinzufügen"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, qualification, field]
              properties:
                name:
                  type: string
                qualification:
                  type: string
                field:
                  type: string
                driver_license:
                  type: string
      responses:
        "201":
          description: "Hinzugefügt"

  /employees/{employeeId}:
    put:
      tags: [Personalverwaltung]
      summary: "Mitarbeiter bearbeiten"
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                qualification:
                  type: string
                field:
                  type: string
                driver_license:
                  type: string
      responses:
        "200":
          description: "Aktualisiert"
    delete:
      tags: [Personalverwaltung]
      summary: "Mitarbeiter löschen"
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: "Gelöscht"

  /employees/{employeeId}/assign:
    post:
      tags: [Personalverwaltung]
      summary: "Mitarbeiter einem Event zuordnen"
      description: "Prüft Verfügbarkeit. Sendet automatische Benachrichtigung."
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_id]
              properties:
                event_id:
                  type: integer
      responses:
        "200":
          description: "Zugeordnet"

  /employees/{employeeId}/schedule:
    get:
      tags: [Personalverwaltung]
      summary: "Zeit-/Arbeitsplan anzeigen"
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Kalendarische Anzeige"

  # --- Rechnungsverwaltung ---
  /invoices:
    get:
      tags: [Rechnungsverwaltung]
      summary: "Rechnungen filtern"
      description: "z.B. nach 'bezahlt' oder 'nicht bezahlt'."
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [bezahlt, offen, mahnung]
      responses:
        "200":
          description: "Rechnungsliste"
    post:
      tags: [Rechnungsverwaltung]
      summary: "Rechnung generieren"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_id]
              properties:
                event_id:
                  type: integer
      responses:
        "201":
          description: "Rechnung erstellt und zugestellt"

  /invoices/{invoiceId}:
    get:
      tags: [Rechnungsverwaltung]
      summary: "Rechnungsdetails / PDF abrufen"
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Rechnungsdaten (Brutto, Netto, Materialliste)"

  /invoices/{invoiceId}/pay:
    put:
      tags: [Rechnungsverwaltung]
      summary: "Event/Rechnung als bezahlt markieren"
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Bezahlt"

  /invoices/{invoiceId}/remind:
    post:
      tags: [Rechnungsverwaltung]
      summary: "Mahnung/Erinnerung erstellen"
      description: "Automatische Erinnerung nach X Tagen oder manuelle Mahngebühr."
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fee:
                  type: number
                  description: "Optionale Mahngebühr in Euro"
      responses:
        "200":
          description: "Mahnung versendet"
